select
    customer.custentity_dob,
    customer.custentity_tei_loyaltyremainingpointval,
    customer.datecreated,
    Customer.id,
    customer.email,
    customer.lastname,
    customer.phone,
    customrecord_tbt_loyalty_cust_grp.name
from
    customer
    left join customrecord_tbt_loyalty_cust_grp
    on customer.custentity_tbt_loyalty_grp = customrecord_tbt_loyalty_cust_grp.id
where
    customer.phone = '{{phone}}'
order by
    datecreated asc
