select 
    transaction.id,
    transaction.tranid,
    item.custitem_vncode_copy,
    transactionline.quantity,
    transactionline.foreignAmount,
    transaction.trandate
from  
    (transaction join  transactionline on transaction.id = transactionline.transaction) 
    join item on transactionline.item=item.id 
where 
    transaction.id={{id}} 
    and substr(tranid, 1, 2) = 'SO'
order by
    trandate desc